@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
:root {
    --post-color: #0f0f0f;
    --post-background-color: #ffffff;
    --post-header-background-color: rgba(0, 0, 0, 0.075);
    --post-button-hover-background-color: rgba(0, 0, 0, 0.05);
    --light-color: #8a8a8a;
    --border-color: #dadada;
    --input-color: #efefef;
}

@media (prefers-color-scheme: dark) {
    :root {
        --post-color: #ffffff;
        --post-background-color: #242424;
        --post-header-background-color: rgba(255, 255, 255, 0.05);
        --post-button-hover-background-color: rgba(255, 255, 255, 0.1);
        --light-color: #8a8a8a;
        --border-color: #3f3f3f;
        --input-color: #3b3b3b;
    }
}
#app {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(-45deg, #3084ff, #1dbdff);
    width: 100vw;
    height: 100vh;
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    box-sizing: border-box;
}

.post {
    color: var(--post-color);
    background-color: var(--post-background-color);
    width: 100%;
    max-width: 768px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.7);
}
.post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .post p {
    padding: 0;
    margin: 0;
}

.post-header {
    background-color: var(--post-header-background-color);
    padding: 0.75rem 1.2rem;
    border-bottom: solid 1px var(--border-color);
}

.post-top {
    color: var(--light-color);
    padding: 0.75rem 1.2rem;
    display: flex;
    flex-direction: column;
}

.post-identifier {
    padding-top: 0.75rem;
}
.post-identifier p:first-child {
    margin-bottom: 0.25rem;
}

.post-avatar figure {
    --size: 5em;
    background-color: #ffffff;
    width: var(--size);
    height: var(--size);
    border: solid 1px var(--border-color);
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}
.post-avatar figure img {
    width: 100%;
    vertical-align: top;
}

.post-author-link {
    color: #3f8bef;
    font-weight: bold;
    text-decoration: none;
    transition: color 64ms ease-out;
}
.post-author-link:hover {
    color: #1f6bcf;
}

.post-content {
    padding: 0 1.2rem 0.75rem;
    border-bottom: solid 1px var(--border-color);
    position: relative;
}

.content-reactions {
    color: var(--light-color);
    padding-top: 0.75rem !important;
}

.post-commands {
    display: flex;
    flex-direction: column;
}

.post-react-popup {
    background-color: var(--post-background-color);
    width: calc(100% - 2.4rem);
    padding: 0.375rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    left: 1.2rem;
    bottom: -0.5rem;
    box-sizing: border-box;
    box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    animation: show 128ms linear;
}
.post-react-popup.hiding {
    animation: hide 128ms linear;
}
@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(100%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@keyframes hide {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(100%) scale(0);
    }
}

.react-face {
    background-size: cover;
    image-rendering: crisp-edges;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 128ms ease-out;
}
.react-face:hover {
    transform: scale(2);
}

.react-face.smile {
    background-image: url("https://assets.codepen.io/430361/reacc-smile.svg");
}

.react-face.happy {
    background-image: url("https://assets.codepen.io/430361/reacc-happy.svg");
}

.react-face.surprised {
    background-image: url("https://assets.codepen.io/430361/reacc-surprised.svg");
}

.react-face.sad {
    background-image: url("https://assets.codepen.io/430361/reacc-sad.svg");
}